body {
    background: lightblue;
    margin: 0;
    font-family: "Audiowide";
    box-sizing: border-box;
    padding: 0 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-instruction {
    text-align: center;
}

#winnerMsg {
    text-align: center;
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 50px auto;
    gap: 25px;
}

.playerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.playerInfo.player {
    align-items: flex-start;
}

.playerInfo.cpu {
    align-items: flex-end;
}

#choiceImg, #cpuImg {
    padding: 20px;
    width: 35%;
    border: 2px solid #FFD700;
    border-radius: 18px;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
}

.choiceBtn {
    font-size: 24px;
    padding: 10px 30px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}

#rockBtn {
    border: burlywood solid 2px;
    color: burlywood;
}

#rockBtn:hover {
    background: burlywood;
    transition: .5s;
    color: #000;
}

#paperBtn {
    border: 2px solid #fff;
    color: #fff;
}

#paperBtn:hover {
    background: #fff;
    transition: .5s;
    color: #000;
}

#scissorsBtn {
    border: 2px solid silver;
    color: silver;
}

#scissorsBtn:hover {
    background: silver;
    transition: .5s;
    color: #000;
}

#rockBtn, #paperBtn, #scissorsBtn{
    font-size: 50px;
}

#rockBtn, #paperBtn, #scissorsBtn, #resetBtn {
    font-family: "Audiowide";
    
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.rps-footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items:center;
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    .choiceBtn {
        font-size: 16px;
    }

    h2 {
        font-size: 18px;
    }

    #playerMove, #computerMove {
        font-size: 20px;
    }

    .scoreContainer {
        flex-direction: column;
    }

    .counts {
        font-size: 10px;
    }

    .game-instruction {
        margin-top: 100px;
    }

    #winnerMsg {
        text-align: center;
    }

    .btnContainer {
        gap: 20px;
    }

    #rockBtn, #paperBtn, #scissorsBtn {
        font-size: 30px;
    }
}